<button class="btn btn-light" (click)="showModal()">❌</button>


<div
class="modal"
tabindex="-1"
role="dialog"
[ngStyle]="{'display':displayStyle}">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Delete User</h4>
    </div>
    <div class="modal-body">
      <h3>Are you sure you want to delete?</h3>
    </div>
    <div class="modal-footer">
      <button type="submit" (click)="deleteUser(user!)" class="btn btn-primary">Yes</button>
          <button type="button" class="btn btn-light" 
              (click)="closePopup()">
        No
      </button>
    </div>
  </div>
</div>
</div>
