<div class="center">
  <form class="m-3">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        [(ngModel)]="email"
        name="email"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        [(ngModel)]="password"
        name="password"
      />
    </div>
    <div class="mb-3 form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="exampleCheck1"
        (change)="toggle()"
      />
      <label class="form-check-label" for="exampleCheck1"
        >Are you new User</label
      >
    </div>
    <div style="color: red">{{ invalidCred }}</div>
    <button
      *ngIf="!isNew"
      type="submit"
      class="btn btn-primary"
      (click)="register()"
    >
      Subscribe!!
    </button>
    <button
      *ngIf="isNew"
      type="submit"
      class="btn btn-primary"
      (click)="login()"
    >
      Log in
    </button>
  </form>
</div>
