.center{
    padding: 20px;
    background-color: rgb(182, 179, 179);
    height: auto;
    max-width: 300px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px ;
}