<h3><app-add (added)="fetchData()"></app-add></h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tr *ngFor="let user of users">
    <th scope="row">{{ user.id }}</th>
    <td>{{ user.title }}</td>
    <td>{{ user.description }}</td>
    <td><app-modify [user]="user" (refresh)="edit($event)"></app-modify></td>
    <td><app-delete [user]="user" (refresh)="refresh($event)"></app-delete></td>
  </tr>
</table>

<!-- <button class="btn btn-primary m-2" routerLink="modify">Modify User</button> -->
<!-- <button class="btn btn-primary m-2" routerLink="delete">Delete User</button> -->
<!-- <router-outlet></router-outlet> -->
